
#break{
	clear:left;
}

#board{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#scorebox {
  position: relative;
  border: 10px white ridge;
  width: 30%;
  height: 3%;
  bottom: 2%;
  left: 32%;
  background-color: white;
}

.card {
	width: 10%;
	background-color: white;
	height: 25%;
	margin: 2.5%;
	float: left;
	border-radius:8%;
	border:10px black solid;
	cursor:pointer;
}

.card:hover{
	border: 10px yellow outset;
}

.highlighted{

	border: 10px red ridge;

}

.purple {
		content: "";
		display: block;
		width: 23%;
		height: 15%;
		position:relative;
		top:13%;
		left:37%;
		background-color:purple;
		border: 5px purple solid;
		margin-bottom:20%;
}

.red {
		content: "";
		display: block;
		width: 23%;
		height: 15%;
		position:relative;
		top:13%;
		left:37%;
		background-color:red;
		border: 5px red solid;
		margin-bottom:20%;
}



.green {
		content: "";
		display: block;
		width: 23%;
		height: 15%;
		position:relative;
		top:13%;
		left:37%;
		background-color:green;
		border: 5px green solid;
		margin-bottom:20%;

}

.full
{
	opacity:1;
}


.striped
{
	background-image: url(stripes.png);
}

.transparent
{
	background-color: white;
}

.square
{}

.circle
{
	border-radius: 50px;
}

.diamond
{
	-webkit-transform:rotate(45deg);
}